{% extends "myweb/base.html" %}

{% load static from staticfiles %}

    {% block mylink %}
        <link rel="stylesheet" type="text/css" href="{% static 'myweb/css/member.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'myweb/css/cart.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'myweb/css/member-app.css' %}">
    {% endblock %}


{% block mainbody %}
    <!-- 主内容区域 -->
    <div class="mainbody order" style="height: 500px">
		<div class="container">
			<!-- 面包屑导航 -->
			<div class="crumbs ">
				<ol class="breadcrumb">
					<li class="hidden-xs hidden-sm"><a href="base.html">首页</a></li>
					<li class="active"><a href="#">我的商城</a></li>
				</ol>
			</div><!-- 面包屑导航 E-->

			<div class="main clearfix">
				<!-- 左侧导航 -->
				<div class="left-nav f-fl hidden-xs hidden-sm">
					<div class="nav-main">
					    <a href="{% url 'myorder' %}" class="type-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>订单中心</a>
						<a href="{% url 'myorder' %}" class="ml" >我的订单</a>
						<a href="{% url 'store' %}" class="type-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>个人库房</a>
						<a href="{% url 'store' %}" class="ml" >我的库存</a>
						<a href="{% url 'store_order' %}" class="ml " >我的发货信息</a>
						<a href="javascript:;" class="type-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>个人中心</a>
						<a href="#" class="ml " >地址管理</a>
						<a href="#" class="ml " >我的收藏</a>
						<a href="#" class="ml " >消息提醒</a>
						<a href="#" class="ml ">建议反馈</a>
					</div>
				</div><!-- 左侧导航 E-->
				<!-- 右侧内容展示 -->
                <div style="margin-top: 15px">
                    <center>
                        <h3>订单确认</h3>
                        <hr>
                    </center>

                    <form id="edit-profile" action="{% url 'store_xd' %}" class="form-horizontal col-md-6 col-md-offset-1" method="post">
                        {% csrf_token %}

                        <fieldset>
                            <div class="form-group">
                                 <label for="inputEmail3" class="col-sm-2 control-label">收件人</label>
                                 <div class="col-sm-10">
                                   <input type="text" class="form-control" id="inputEmail3" name="linkman" >
                                 </div>
                            </div>
                            <div class="form-group">
                                 <label for="inputEmail3" class="col-sm-2 control-label">地址</label>
                                 <div class="col-sm-10">
                                   <input type="text" class="form-control" id="inputEmail3" name="address">
                                 </div>
                            </div>
                            <div class="form-group">
                                 <label for="inputEmail3" class="col-sm-2 control-label">电话</label>
                                 <div class="col-sm-10">
                                   <input type="text" class="form-control" id="inputEmail3" name="phone" >
                                 </div>
                            </div>
                            <div class="form-group">
                                 <label for="inputEmail3" class="col-sm-2 control-label">邮政编码</label>
                                 <div class="col-sm-10">
                                   <input type="text" class="form-control" id="inputEmail3" name="code" >
                                 </div>
                            </div>
                            <div class="form-group">
                                 <label for="inputEmail3" class="col-sm-2 control-label">数量</label>
                                 <div class="col-sm-10">
                                   <input type="text" class="form-control" id="inputEmail3" readonly="" value="{{ request.session.store_send_number }}">
                                 </div>
                            </div>
                            <div class="form-group">
                                 <label for="inputEmail3" class="col-sm-2 control-label">商品入库价</label>
                                 <div class="col-sm-10">
                                   <input type="text" class="form-control" id="inputEmail3" readonly="" value="{{ request.session.store_good_price }}">
                                 </div>
                            </div>
                           <div class="form-group">
                               <div class="col-sm-offset-2 col-sm-10">
                                 <button type="submit" class="btn btn-primary">确认下单</button>
                               </div>
                            </div>
                        </fieldset>
                    </form>
                 </div>
			</div>
		</div>
	</div>
    <div class="mainbody cart">
		<div class="container">
            <table class="cart-header">
				<tbody>
					<tr>
						<td class="cart-col-select col-md-3 col-xs-3 col-sm-3">
							<div class="cart-select-all JSelectAll">

								<span class="cart-select-title"></span>
							</div>
						</td>
						<td class="cart-col-name col-md-3 hidden-xs hidden-sm">商品</td>
						<td class="cart-col-price col-md-2 hidden-xs hidden-sm">单价(元)</td>
						<td class="cart-col-number col-md-2 hidden-xs hidden-sm">数量</td>
						<td class="cart-col-total col-md-1 hidden-xs hidden-sm">小计(元)</td>

					</tr>
				</tbody>
			</table><!-- 购物车详情头 E-->
        </div>
        <div class="cart-merchant-list">
        <div class="cart-merchant">
        <table class="cart-merchant-body">
        <tbody>

            <tr class="cart-product" id="pro5">
                <td class="cart-col-select col-md-3 col-xs-4 col-sm-4">

                    <a href="detail.html" class="cart-product-link" target="_blank">
                        <img src="/static/goods/s_{{ shop.picname }}" class="cart-product-img" alt="{{ shop.goods }}">
                    </a>
                </td>
                <td class="cart-col-name col-md-3 col-xs-8 col-sm-8">
                    <a href="" class="cart-product-link" target="_blank">
                      <p>{{ request.session.store_send_good_name }}</p>
                      <span class="cart-product-desc">{{ request.session.store_send_good_desc }}</span>
                    </a>
                </td>
                <td class="cart-col-price col-md-2 hidden-xs hidden-sm">
                    <p>
                        <span class="cart-product-price">{{ request.session.store_good_price }}</span>
                    </p>
                </td>
                <td class="cart-col-price col-md-2 hidden-xs hidden-sm">
                    <p>
                        <span>{{ request.session.store_send_number }}</span>
                    </p>
                </td>
                <td class="cart-col-total col-md-1 hidden-xs hidden-sm">
                    <span class="cart-product-price total">{% widthratio  request.session.store_good_price 1 request.session.store_send_number %}</span>
                </td>
            </tr>

        </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    <!-- 主内容区域 E-->
{% endblock %}

